:root {
  --color-primary: #7c1118;
  --color-secodary: rgb(7, 7, 66);
  --color-teritary: #a64429;
}

body {
  overflow-x: hidden; /*cover the emerging  column which it is initially overextended*/
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.headercontainer {
  background: url(../images/er\ vaggio\ blurry.jpg);
  background-position: center;
  background-size: cover;
}

/* Navbar and Burger*/

.navbar {
  background: #a64429;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  justify-content: space-between;
  max-width: 100%;
}

nav img {
  height: 50px;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
}

.nav__list {
  background: #d67d64;
  position: absolute; /*sizing the nav list and the nav column*/
  z-index: 9999; /*prirority of nav column over other images */
  right: 0px;
  height: 70vh;
  top: 9.5vh;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  transform: translateX(100%); /*nav column fully extended position*/
  transition: transform 0.5s ease-in;
  border-radius: 4px;
}

.nav_active {
  transform: translateX(0%); /*initial position of nav column*/
}

.nav__item {
  padding: 10px;
  margin: 2.5rem;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 3px 1px 1px #1d1b1b;
  font-size: 1.2rem;
}

a:hover {
  color: rgb(98, 17, 17);
  text-shadow: 1px 1px 1px #3e0505;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffff;
  margin: 5px 12px 5px 5px;
  opacity: 0.7;
  margin-right: 20px;
}

.burger {
  margin-top: 20px;
  cursor: pointer;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); /*first burger line transforming in x*/
}

.toggle .line2 {
  opacity: 0; /*second burger line hidden*/
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); /*second burger line transforming in x*/
}

/* header first section*/

.fonttitle {
  font-style: italic;
  font-weight: bolder;
  font-size: 5rem;
  margin-left: 0.8rem;
  color: #ffff;
  text-align: center;
  padding-top: 5rem;
  text-shadow: 3px 3px 1px #1d1b1b;
}

.headerfontpar {
  font-size: 30px;
  color: #ffff;
  text-align: center;
  margin-top: 0;
  font-style: italic;
  margin-top: 12rem;
}

.headercontainer {
  background: url(../images/er\ vaggio\ blurry.jpg);
  background-size: cover;
  background-position: center;
}

@keyframes beat {
  0% {
    transform: matrix3d(1);
  }
  45% {
    transform: matrix3d(1.2);
    color: var(--color-primary);
  }
}

.repeatingelement {
  animation-name: beat;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes faded {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fadeffect {
  animation-name: faded;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* Buttons*/

.btn1_1stp {
  height: 6rem;
  width: 60%;
  font-size: 2rem;
  color: #ffff;
  margin-left: 20%;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 3px #282727;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  border-color: #ffff;
  opacity: 0;
  cursor: pointer;
}
.btn2_1stp {
  height: 6rem;
  font-size: 2rem;
  width: 60%;
  color: #ffff;
  margin-left: 20%;
  margin-bottom: 3rem;
  box-shadow: 3px 3px 3px #282727;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  border-color: #ffff;
  opacity: 0;
  cursor: pointer;
}

.btn1_1stp:focus {
  color: purple;
  border: 2px solid #b11ac2;
  animation: ghost-shadow 1s forwards;
  opacity: 1;
}
.btn2_1stp:focus {
  color: purple;
  border: 2px solid #b11ac2;
  animation: ghost-shadow 1s forwards;
  opacity: 1;
}

@keyframes ghost-shadow {
  100% {
    box-shadow: 0px 0px 20px 20px #b11ac2;
  }
}

@keyframes ghostbutton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttoneffect {
  animation: ghostbutton 1s linear 6s forwards;
}

/* Tablet versions */

@media screen and (min-width: 600px) {
  .btn1_1stp {
    margin-top: 10px;
  }
  .btn2_1stp {
    margin-bottom: 1.7rem;
  }
  .headerfontpar {
    margin-top: 18rem;
  }
}

@media screen and (min-width: 900px) {
  .btn1_1stp {
    margin-top: 6px;
  }
  .btn2_1stp {
    margin-bottom: 3.7rem;
  }
  .headerfontpar {
    margin-top: 10rem;
  }
}
/* desktop version */

@media screen and (min-width: 1109px) {
  .headercontainer {
    height: 120%;
  }

  .fonttitle {
    margin-top: 2.5rem;
  }
  .nav__list {
    width: auto;
    display: flex;
    background: none;
    top: 0vh;
    margin-top: auto;
    transform: none;
  }

  .burger div {
    display: none;
  }

  .nav__item {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 1.4rem;
    font-weight: bolder;
    gap: 5px;
  }

  .a:hover {
    color: rgb(142, 29, 29);
    text-shadow: 1px 5px 5px #1d1b1b;
  }
  .fonttitle {
    font-size: 7rem;
  }

  .headerfontpar {
    margin-top: 7rem;
  }

  .container {
    display: flex;
    max-width: 100%;
    padding-top: none;
  }

  .btn1_1stp {
    height: 10rem;
    width: 120vh;
    margin: 0 3rem 1rem 3rem;
    font-size: 4rem;
  }

  .btn2_1stp {
    height: 10rem;
    width: 120vh;
    margin: 0 3rem 1rem 3rem;
    font-size: 4rem;
  }
}

/* Page 2  */

.p2_title {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(7, 7, 66);
  text-shadow: 1px 1px 1px #090808;
  font-family: "Times New Roman";
}

.pg2_background {
  display: flex;
  background: #090808;
  width: 100%;
  height: 75%;
  margin-top: 6rem;
  margin-bottom: 0;
}

.pg2_img {
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  height: 74vh;
  width: 40vh;
  opacity: 0.8;
  animation: move-left 10s infinite alternate;
}

@keyframes move-left {
  0% {
    transform: translateX(100);
  }
  100% {
    transform: translateX(-400%);
  }
}

/*different animation solution so far*/

@media screen and (min-width: 1020px) {
  @keyframes move-left {
    0% {
      transform: translateX(100);
    }
    100% {
      transform: translateX(-73%);
    }
  }
}

/* Page 3 */

h2 {
  margin-top: 6rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Cabin", sans-serif;
  color: rgb(7, 7, 66);
  text-shadow: 7px 2px 2px 2px #242323;
}

.swg_num {
  margin: 2rem 1rem 0.5rem 2rem;
  font-weight: 600;
  font-size: larger;
  background-image: linear-gradient(
    rgba(222, 204, 104, 0.713),
    silver
  ); /*for the cirle*/
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.span_title {
  color: #ccc;
  font-size: 1.5rem;
  font-weight: 500;
}

.artContainer {
  background: #090808;
  height: auto;
  margin-top: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
}

article p {
  color: #ffff;
  padding: 0.5rem 3rem 3rem 6rem;
  font-size: 20px;
}

/* desktop version */

@media screen and (min-width: 400px) {
  .artContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .first_grid {
    grid-column: 1; /*assign elements in the first column of the grid*/
    margin-top: 2rem;
  }
  .second_grid {
    grid-column: 2; /* second column of the grid*/
    margin-top: 2rem;
  }
}

/* Page 5 */

.cont {
  display: flex;
  margin-top: 1.5rem;
}

h3 {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Cabin", sans-serif;
  color: rgb(73, 73, 78);
  text-shadow: 7px 2px 2px 2px #242323;
}

.imgh3 {
  height: 100px;
  width: 100px;
  border-radius: 90px;
  margin: 4rem 3rem 3rem 3rem;
  filter: blur(6px);
}

.ph3 {
  font-style: italic;
  font-size: 1.5em;
  color: #282727;
  margin: 5rem 4rem 3rem 0.5rem;
}

.ph3__reversed {
  font-style: italic;
  margin: 5rem 0.5rem 3rem 4rem;
  font-size: 1.5em;
  color: #282727;
}
.reversed {
  float: right;
}

.hid {
  font-style: italic;
  font-size: 1.5em;
  font-weight: bolder;
  color: #201f1f;
  flex-direction: column;
  opacity: 0;
}

.h4_5page {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Cabin", sans-serif;
  color: var(--color-secodary);
  text-shadow: 7px 2px 2px 2px #242323;
  box-sizing: border-box;
}

.btn_h4 {
  margin: 10rem 10% 14rem 10%;
  height: 6rem;
  width: 80%;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffff;
  border-radius: 40px;
  background: tomato;
  border-color: tomato;
}

.btn_h4:hover {
  background: var(--color-primary);
  border-color: var(--color-primary);
  cursor: pointer; /* adjust problem with smaller button for bigger screen*/
}

@media screen and (min-width: 800px) {
  .btn_h4 {
    width: 40%;
    margin-left: 30%;
  }
}

/*Footer page*/

.footer {
  background: var(--color-teritary);
  width: 100%;
  height: 300vh;
  margin: 2rem 0 0 0;
  padding: 3rem 0 2rem 0;
}

.footer * {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.section {
  font-size: 2rem;
  color: #ffff;
  padding-top: 3rem;
}

.footer-col h4 {
  color: #ffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  box-sizing: border-box;
}

section li {
  font-family: Inter, Arial, Helvetica, sans-serif;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.footer-col {
  padding: 3rem 0 0 0;
  width: 25%;
}
.footer-col a {
  text-shadow: none;
  font-size: 1rem;
}

.footer-col a:hover {
  text-decoration: underline;
  color: #ffff;
}

.footer-col ul {
  margin-bottom: 8rem;
}

.p_footer {
  border-top: 1px solid #ccc;
  color: #ffff;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
}

/*desktop version*/

@media screen and (min-width: 600px) {
  .footer {
    height: 90vh;
    padding-bottom: none;
  }

  .row_footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer * {
    margin: 0;
  }
  .footer-col {
    padding: 3rem 0 0 3rem;
  }
}
