<nav class="navbar">
    <img  src="images/white logo.png" alt="white pant image">
    <ul class="list nav__list">
        <li class="nav__item"><a href="#">Homepage</a></li>
        <li class="nav__item"><a href="#">Search</a></li>
        <li class="nav__item"><a href="#">Wet underwears</a></li>
        <li class="nav__item"><a href="#">Sellers</a></li>
        <li class="nav__item"><a href="#">Buyers</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
   </nav>