<h2>Unprecedented Benefits</h2>
<article class="artContainer">
  <div class="first_grid" data-aos="fade-right">
    <div>
      <span class="swg_num">1</span>
      <span class="span_title">The accesiblity</span>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
    </div>
    <div>
      <span class="swg_num">2</span>
      <span class="span_title">The accesiblity </span>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
    </div>
    <div>
      <span class="swg_num">3</span>
      <span class="span_title">The accesiblity </span>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
    </div>
    <div>
      <span class="swg_num">4</span>
      <span class="span_title">The accesiblity </span>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
    </div>
    </div>
    <div class="second_grid" data-aos="fade-left">
      <div>
        <span class="swg_num">5</span>
        <span class="span_title">The accesiblity</span>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
          </div>
          <div>
        <span class="swg_num">6</span>
        <span class="span_title">The accesiblity</span>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
          </div>
          <div>
        <span class="swg_num">7</span>
        <span class="span_title">The accesiblity </span>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
          </div>
          <div>
        <span class="swg_num">8</span>
        <span class="span_title">The accesiblity</span>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis impedit praesentium, accusamus suscipit modi qui libero facilis! Iusto nesciunt animi omnis odit, incidunt maiores eum.</p>
          </div>
    </div>
</article>