<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="height: 20px; width: 40%">
      {% for users in username_profile_list %}
      <section>
        <a href="/profile/{{users.user}}"
          ><img src="{{users.profileimg.url}}" alt=""
        /></a>
        <div>
          <a href="/profile/{{users.user}}">
            <h3><b>@{{users.user}}</b></h3>
          </a>
          <p>{{users.location}}</p>
          <p>{{users.bio}}</p>
        </div>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
