<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {%for message in messages %}
      <h5>{{message}}</h5>
      {% endfor %}
    </div>
    <h1>SIGN UP</h1>
    <form action="" method="POST">
      {%csrf_token%}
      <input type="text" name="Username" placeholder="Username" />
      <input type="email" name="Email" placeholder="Email" />
      <input type="password" name="Password" placeholder="Password" />
      <input type="password" name="Password2" placeholder="Confirm Password" />
      <button>Sign up</button>
    </form>
    <p>Already a member? <a href="/user_login">login</a></p>
  </body>
</html>
