<h3>Reviews</h3>
    <div class="cont" data-aos="fade-left">
      <img class="imgh3" src="images/rev_p1.jpg" alt="blurred woman">
      <p class="ph3">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laborum molestias quisquam quia quidem optio illo magnam nesciunt assumenda necessitatibus. Quibusdam architecto ipsum eveniet repellendus sequi quas, exercitationem esse magni?"
        <br>@Carmela
      </p>
    </div>

      <img data-aos="fade-right" class="imgh3 reversed" src="images/rev_p2.jpg" alt="blurred man">
      <p data-aos="fade-right" class="ph3__reversed">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste repellendus voluptates sit autem porro eum cumque adipisci sapiente. Laboriosam vero enim dolor non molestias perferendis itaque cumque iste sunt culpa."
        <br>@George</p>
      <p class="hid">Need p for div below</p>

     <div class="cont" data-aos="fade-left">
      <img  class="imgh3" src="images/rev_p3.jpg" alt="blurred man"> 
      <p class="ph3">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nam vitae, corrupti laboriosam, quas repellat voluptate vero debitis quidem labore beatae ipsa quo cupiditate! Nisi saepe suscipit commodi reprehenderit itaque?"
        <br>@Claudio </p>
    </div>
    <h4 class="h4_5page">Curious , wanting to know more?</h4>
        <button class="btn_h4">sign up</button>
    </div>